.movie-section {
    padding: 60px 80px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 28px;
}

.section-header h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 700;
}

.view-all-btn {
    background: transparent;
    border: none;
    color: #ef4444;
    font-size: 1rem;
    cursor: pointer;
    transition: .3s;
}

.view-all-btn:hover {
    color: white;
}

.movie-grid {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 10px 0;
    scroll-behavior: smooth;
}

.movie-grid::-webkit-scrollbar {
    display: none;
}

.movie-grid {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.movie-slider-wrapper {
    position: relative;
}

.slider-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: none;
    background: rgba(20,20,20,.75);
    color: white;
    cursor: pointer;
    z-index: 10;

    display:flex;
    align-items:center;
    justify-content:center;

    transition:.3s;
}

.slider-btn:hover{
    background:#ff3b5c;
}

.slider-btn.left{
    left:-18px;
}

.slider-btn.right{
    right:-18px;
}